@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /** Color */
    --red: #dc2626;
    --white: #ffffff;
    --blue: blue;
    --gray: rgb(209 213 219 / var(--tw-divide-opacity, 1));

    /** Space */
    --button-padding-x: 10px;
    --button-padding-y: 16px;
    --border-radius: 30px;
    --margin-link: 20px;
}

table td {
    padding: 1rem;
}

.button {
    padding: var(--button-padding-x) var(--button-padding-y);
    color: var(--white);
    border-radius: var(--border-radius);
    background-color: unset;
}

.btn-delete {
    background-color: var(--red);
}

.flex-center {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.small-margin {
    margin: 0 var(--margin-link);
}

.border-bottom {
    border-bottom: 1px solid var(--gray);
}

.main-content {
    margin: 7rem auto;
}

header {
    margin: 0 auto;
}

.title-style {
    margin-bottom: 3rem;
}
